img{
    border-radius: 100px;
    width: 300px;
    margin-left: 100px;
}
.card{
    /* background-color:lightsteelblue; */
    margin-bottom: 50px;
    }
    .container-fluid{
        background-color: lightcyan;
    }
    .card>p{
        text-align: center;
    }
    .ca1{
        color: olivedrab;
        margin-left:10px;
        font-weight: 100;

    }
